/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    background-color: #fff;
    font-size: 0.875rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    width: 100%;
    font-family: 'Microsoft JhengHei';
    font-family: 'sans-serif';
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn.extra-width {
    padding: 13px 40px;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

/*Section*/
.sections {
    padding-top: 85px;
    padding-bottom: 105px;
    overflow: hidden;
}

.sections.footer {
    padding-bottom: 80px;
}

section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    margin-bottom: 4rem;
}

.overlay {
    /*    background-color: rgba(41, 39, 34, 0.75);*/
    width: 100%;
    height: 670px;
}

.map-overlay {
    background-color: rgba(255, 114, 0, 0.75);
    width: 100%;
    height: auto;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}

/*Button*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}

.btn {
    display: inline-block;
    min-width: 150px;
    line-height: 30px;
    height: 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 0.8125rem;
    border-radius: 0px;
    margin-top: 20px;
    background-color: #ff7200;
    transition: .5s;
    border: 1px solid #ff7200;
}

.btn:hover {
    background-color: #f4720a;
    color: #fff;
    text-decoration: none;
    border: 1px solid #f4720a;
}

.btn-primary {
    background-color: #ff7200;
    transition: .5s;
    padding: 9px 30px;
}

.btn_news_color {
    color: #5e9a28;
    border-color: #5e9a28;
}

.btn-md {
    border: 1px solid #5e9a28;
    color: #5e9a28;
    padding: 10px 45px 10px 0px;
}


.btn-larg {
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 30px;
}

/* navbar section */
.main_menu_bg {
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.1);
}

.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all .6s;
    margin: 15px auto;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background: transparent;
}

.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    padding-bottom: 22px;
    border-bottom: 1px solid #ffffff;
    background: transparent;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.875rem;
    color: #AAAAAA;
    font-size: 15px;
}

.nav-subtitle {
    margin-left: 15%;
    margin-top: 3%;
    float: left;
    display: inline-block;
}

.nav-subtitle p {
    font-size: 15px;
    color: #ffffff;
}

.navbar-brand {
    padding: 0px 10px;
}

.navbar-brand img {
    padding-top: 5px;
    max-width: 12%;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #AAAAAA;
}

.culmn {
    width: 100%;
    overflow: hidden;
}

/*home section*/
.home {
    padding-top: 10%;
    background: url(../images/background.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.home .row {
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.8);
}

.home .col-sm-4 .left {
    padding: 45% 10%;
    text-align: center;
}

.home .col-sm-4 img {
    max-width: 50%;
}

.home .col-sm-4 h3 {
    margin-top: 5%;
    letter-spacing: 8px;
}

.home .col-sm-8 .right {
    padding: 15% 0%;
}

.home .col-sm-8 .right p {
    color: #4A4F54;
    max-width: 88%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
    border-left: 2px solid #454C4F;
    padding-left: 10%;
}

/*footer section*/

.footer {
    background: #000000;
}

.footer .main_footer {
    overflow: hidden;
    padding: 40px 0px;
}

.footer .flowus {
    text-align: right;
}

.footer .flowus a i {
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    margin-top: 10px;
}

.footer .flowus a i:hover {
    color: #ff7200;
    border: 1px solid #ff7200;
}

.copyright_text {
    text-align: left;
}

.copyright_text p {
    color: #fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}

.copyright_text p i {
    padding: 0px 10px;
    color: #ff0000;
}

.copyright_text p a {
    padding: 0px 10px;
    color: #ffffff;
}

/*mobiel*/
@media screen and (max-width: 320px) {
    /* navbar section */
    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #000000;
        font-size: 15px;
    }

    .main_menu_bg .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #666666;
        padding-bottom: 22px;
        border-bottom: 1px solid #666666;
        background: transparent;
    }

    .nav-subtitle {
        display: none;
    }

    .nav-subtitle p {
        display: none;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 0px 5px 0px 5px;
        max-width: 20%;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: transparent;
        color: #AAAAAA;
    }

    #bs-example-navbar-collapse-1 {
        background-color: #F1F0F0;
    }

    /*home section*/
    .home {
        padding-top: 10%;
        background: url(../images/background.jpg) no-repeat 100% 100%;
        background-size: cover;
    }

    .home .row {
        margin: 18% 2%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .home .col-sm-4 .left {
        padding: 15% 2% 5% 2%;
        text-align: center;
    }

    .home .col-sm-4 img {
        max-width: 50%;
    }

    .home .col-sm-4 h3 {
        margin-top: 5%;
        letter-spacing: 8px;
    }

    .home .col-sm-8 .right {
        padding: 0% 0%;
    }

    .home .col-sm-8 .right p {
        margin-left: -2%;
        color: #4A4F54;
        max-width: 100%;
        font-size: 15px;
        line-height: 23px;
        letter-spacing: 2px;
        border-left: 0px solid #454C4F;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    /* navbar section */
    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #000000;
        font-size: 15px;
    }

    .main_menu_bg .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #666666;
        padding-bottom: 22px;
        border-bottom: 1px solid #666666;
        background: transparent;
    }

    .nav-subtitle {
        display: none;
    }

    .nav-subtitle p {
        display: none;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 0px 5px 0px 5px;
        max-width: 20%;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: transparent;
        color: #AAAAAA;
    }

    #bs-example-navbar-collapse-1 {
        background-color: #F1F0F0;
    }

    /*home section*/
    .home {
        padding-top: 10%;
        background: url(../images/background.jpg) no-repeat 100% 100%;
        background-size: cover;
    }

    .home .row {
        margin: 18% 2%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .home .col-sm-4 .left {
        padding: 15% 2% 5% 2%;
        text-align: center;
    }

    .home .col-sm-4 img {
        max-width: 50%;
    }

    .home .col-sm-4 h3 {
        margin-top: 5%;
        letter-spacing: 8px;
    }

    .home .col-sm-8 .right {
        padding: 0% 0%;
    }

    .home .col-sm-8 .right p {
        margin-left: -2%;
        color: #4A4F54;
        max-width: 100%;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 2px;
        border-left: 0px solid #454C4F;
    }
}


/*pad*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* navbar section */
    .nav-subtitle {
        margin-left: 20%;
        margin-top: 3%;
        float: left;
        display: inline-block;
    }

    .nav-subtitle p {
        font-size: 12px;
        color: #ffffff;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 1% 2%;
        max-width: 20%;
    }

    #bs-example-navbar-collapse-1 {
        background-color: transparent;
    }
    /*home section*/
    .home {
        padding-top: 10%;
        background: url(../images/background.jpg) no-repeat 100% 100%;
        background-size: cover;
    }

    .home .row {
        margin: 15% 2%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .home .col-sm-4 .left {
        margin: 40% 0% 0% 0%;
        padding: 40% 5% 0% 5%;
        text-align: center;
    }

    .home .col-sm-4 img {
        max-width: 50%;
    }

    .home .col-sm-4 h3 {
        margin-top: 5%;
        letter-spacing: 8px;
    }

    .home .col-sm-8 .right {
        padding: 15% 0%;
    }

    .home .col-sm-8 .right p {
        margin-left: -2%;
        color: #4A4F54;
        max-width: 100%;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 2px;
        border-left: 2px solid #454C4F;
    }
}

/*pad*/
@media screen and (min-width: 769px)and (max-width: 1024px) {
    /* navbar section */
    .nav-subtitle {
        margin-left: 20%;
        margin-top: 3%;
        float: left;
        display: inline-block;
    }

    .nav-subtitle p {
        font-size: 14px;
        color: #ffffff;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 1% 2%;
        max-width: 18%;
    }

    #bs-example-navbar-collapse-1 {
        background-color: transparent;
    }
    /*home section*/
    .home {
        padding-top: 10%;
        background: url(../images/background.jpg) no-repeat 100% 100%;
        background-size: cover;
    }

    .home .row {
        margin: 10% 2%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .home .col-sm-4 .left {
        margin: 50% 0% 0% 0%;
        padding: 30% 5% 0% 5%;
        text-align: center;
    }

    .home .col-sm-4 img {
        max-width: 50%;
    }

    .home .col-sm-4 h3 {
        margin-top: 5%;
        letter-spacing: 8px;
    }

    .home .col-sm-8 .right {
        padding: 15% 0%;
    }

    .home .col-sm-8 .right p {
        margin-left: -2%;
        color: #4A4F54;
        max-width: 100%;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 2px;
        border-left: 2px solid #454C4F;
    }
}