/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    background-color: #fff;
    font-size: 0.875rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    width: 100%;
    font-family: 'Microsoft JhengHei';
    font-family: 'sans-serif';
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn.extra-width {
    padding: 13px 40px;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}





/*Section*/

.sections {
    padding-top: 85px;
    padding-bottom: 105px;
    overflow: hidden;
}

.sections.footer {
    padding-bottom: 80px;
}

section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    margin-bottom: 4rem;
}

.overlay {
    /*    background-color: rgba(41, 39, 34, 0.75);*/
    width: 100%;
    height: 670px;
}

.map-overlay {
    background-color: rgba(255, 114, 0, 0.75);
    width: 100%;
    height: auto;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


/*Button*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}

.btn {
    display: inline-block;
    min-width: 150px;
    line-height: 30px;
    height: 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 0.8125rem;
    border-radius: 0px;
    margin-top: 20px;
    background-color: #ff7200;
    transition: .5s;
    border: 1px solid #ff7200;
}

.btn:hover {
    background-color: #f4720a;
    color: #fff;
    text-decoration: none;
    border: 1px solid #f4720a;
}

.btn-primary {
    background-color: #ff7200;
    transition: .5s;
    padding: 9px 30px;
}

.btn_news_color {
    color: #5e9a28;
    border-color: #5e9a28;
}

.btn-md {
    border: 1px solid #5e9a28;
    color: #5e9a28;
    padding: 10px 45px 10px 0px;
}


.btn-larg {
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 30px;
}




/* navbar section */

.main_menu_bg {
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.1);
}

.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all .6s;
    margin: 15px auto;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background: transparent;
}

.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    padding-bottom: 22px;
    border-bottom: 1px solid #ffffff;
    background: transparent;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.875rem;
    color: #AAAAAA;
    font-size: 15px;
}

.nav-subtitle {
    margin-left: 15%;
    margin-top: 3%;
    float: left;
    display: inline-block;
}

.nav-subtitle p {
    font-size: 15px;
    color: #ffffff;
}

.navbar-brand {
    padding: 0px 10px;
}

.navbar-brand img {
    padding-top: 5px;
    max-width: 12%;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #AAAAAA;
}

.culmn {
    width: 100%;
    overflow: hidden;
}


/*home section*/
.home {
    padding-top: 10%;
    background: url(../images/main.jpg) no-repeat 100% 100%;
    background-size: cover;
}

/*footer section*/

.footer {
    background: #000000;
}

.footer .main_footer {
    overflow: hidden;
    padding: 40px 0px;
}

.footer .flowus {
    text-align: right;
}

.footer .flowus a i {
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    margin-top: 10px;
}

.footer .flowus a i:hover {
    color: #ff7200;
    border: 1px solid #ff7200;
}

.copyright_text {
    text-align: left;
}

.copyright_text p {
    color: #fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}

.copyright_text p i {
    padding: 0px 10px;
    color: #ff0000;
}

.copyright_text p a {
    padding: 0px 10px;
    color: #ffffff;
}




/* scrollup */

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #DDDDDD;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}



/*mobiel*/
@media screen and (max-width: 320px) {
    /* navbar section */
    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #000000;
        font-size: 15px;
    }

    .nav-subtitle {
        display: none;
    }

    .nav-subtitle p {
        display: none;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 0px 5px 0px 5px;
        max-width: 20%;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: transparent;
        color: #AAAAAA;
    }

    #bs-example-navbar-collapse-1 {
        background-color: #F1F0F0;
    }
    /*home section*/
    .home {
        padding-top: -10%;
        background: url(../images/background_mobile.jpg) no-repeat 100% 100%;
        background-size: auto;
        background-position: 47% 47%;
    }
    .home .overlay p {
        margin: 91% 0% 0% 25%;
        color: #ffffff;
        display: inline-block;
        max-width: 100%;
        font-size: 12px;
    }

    .home .overlay .info {
        margin: 30% 0% 0% 40%;
        max-width: 100%;
        font-size: 12px;
    }

    .home .overlay .info {
        margin: 30% 0% 0% 10%;
        max-width: 100%;
    }

    .home .overlay li {
        font-size: 14px;
        color: #ffffff;
        margin: 2%;
        letter-spacing: 2px;
    }

    .home .overlay span {
        margin: 2%;
    }

    .home .overlay img {
        max-width: 8%;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
    /*    body {
        max-height: 90%;
    }*/
    /* navbar section */
    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #000000;
        font-size: 15px;
    }

    .nav-subtitle {
        display: none;
    }

    .nav-subtitle p {
        display: none;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 0px 5px 0px 5px;
        max-width: 20%;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: transparent;
        color: #AAAAAA;
    }

    #bs-example-navbar-collapse-1 {
        background-color: #F1F0F0;
    }

    /*home section*/
    .home {
        padding-top: 8%;
        background: url(../images/background_mobile.jpg) no-repeat 100% 100%;
        background-size: auto;
        background-position: 48% 48%;
    }

    .home .overlay p {
        margin: 82% 0% 0% 25%;
        color: #ffffff;
        display: inline-block;
        max-width: 98%;
        font-size: 12px;
    }

    .home .overlay .info {
        margin: 30% 0% 0% 40%;
        max-width: 100%;
    }

    .home .overlay .info {
        margin: 30% 0% 0% 8%;
        max-width: 100%;
    }

    .home .overlay li {
        font-size: 18px;
        color: #ffffff;
        margin: 2%;
        letter-spacing: 2px;
    }

    .home .overlay span {
        margin: 2%;
    }

    .home .overlay img {
        max-width: 8%;
    }
}

@media screen and (min-width: 401px) and (max-width: 480px) {
    /*    body {
        max-height: 90%;
    }*/
    /* navbar section */
    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #000000;
        font-size: 15px;
    }

    .nav-subtitle {
        display: none;
    }

    .nav-subtitle p {
        display: none;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 0px 5px 0px 5px;
        max-width: 20%;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: transparent;
        color: #AAAAAA;
    }

    #bs-example-navbar-collapse-1 {
        background-color: #F1F0F0;
    }

    /*home section*/
    .home {
        padding-top: 8%;
        background: url(../images/background_mobile.jpg) no-repeat 100% 100%;
        background-size: auto;
        background-position: 48% 48%;
    }

    .home .overlay p {
        margin: 70% 0% 0% 26.5%;
        color: #ffffff;
        display: inline-block;
        max-width: 95%;
        font-size: 14px;
    }

    .home .overlay .info {
        margin: 30% 0% 0% 10%;
        max-width: 100%;
    }

    .home .overlay li {
        font-size: 18px;
        color: #ffffff;
        margin: 2%;
        letter-spacing: 2px;
    }

    .home .overlay span {
        margin: 2%;
    }

    .home .overlay img {
        max-width: 8%;
    }
}


/*pad*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* navbar section */
    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #DDDDDD;
        font-size: 15px;
    }

    .nav-subtitle {
        margin-left: 20%;
        margin-top: 3%;
        float: left;
        display: inline-block;
    }

    .nav-subtitle p {
        font-size: 12px;
        color: #ffffff;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding: 1% 2%;
        max-width: 20%;
    }

    #bs-example-navbar-collapse-1 {
        background-color: transparent;
    }

    .home {
        padding-top: 30%;
        background: url(../images/main.jpg) no-repeat 80% 80%;
        background-size: cover;
        background-position: 15% 15%;
    }

    .home .overlay p {
        display: none;
    }

    .home .overlay .info {
        display: none;
    }
}



/*pad*/

@media screen and (min-width: 769px)and (max-width: 1024px) {
    /* navbar section */
    .nav-subtitle {
        margin-left: 18%;
        margin-top: 4%;
        float: left;
        display: inline-block;
    }

    .nav-subtitle p {
        font-size: 15px;
        color: #ffffff;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding-top: 5px;
        max-width: 15%;
    }

    #bs-example-navbar-collapse-1 {
        background-color: transparent;
    }

    .home {
        padding-top: 55%;
        background: url(../images/main.jpg) no-repeat 100% 100%;
        background-size: cover;
        background-position: 20% 20%;
    }


    .home .overlay p {
        display: none;
    }

    .home .overlay .info {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    /* navbar section */
    .main_menu_bg {
        margin-top: 0px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .main_menu_bg .navbar-default {
        background-color: transparent;
        border-color: transparent;
        transition: all .6s;
        margin: 15px auto;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #ffffff;
        background: transparent;
    }

    .main_menu_bg .navbar {}

    .main_menu_bg .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #ffffff;
        padding-bottom: 22px;
        border-bottom: 1px solid #ffffff;
        background: transparent;
    }

    .main_menu_bg .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #AAAAAA;
        font-size: 15px;
    }

    .nav-subtitle {
        margin-left: 15%;
        margin-top: 3%;
        float: left;
        display: inline-block;
    }

    .nav-subtitle p {
        font-size: 15px;
        color: #ffffff;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

    .navbar-brand img {
        padding-top: 5px;
        max-width: 12%;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: transparent;
        color: #AAAAAA;
    }

    .culmn {
        width: 100%;
        overflow: hidden;
        .
    }
    /*home section*/
    .home {
        padding-top: 10%;
        background: url(../images/main.jpg) no-repeat 100% 100%;
        background-size: cover;
    }


    .home .overlay p {
        display: none;
    }

    .home .overlay .info {
        display: none;
    }
}